.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/node_modules
__pycache__/
*.pyc
.env
.venv
.local
#dossiers à ne pas afficher sur dossier github
data/dataset_clean_climat.csv
data/dataset_clean.csv
data/dataset_clean_climat_v0_1.csv
data/*copernicus_2011*
data/copernicus_2011_2018.csv
data/copernicus_2011_2018.csv/
data/dataset_clean.csv/
data/dataset_clean_climat.csv/
data/*.nc
data/cniv*
data/netcdf*
data/huglin*
data/*API*
data/*meteo_languedoc_communes*
data/meteo_languedoc_2019_2025_journalier.csv
data/meteo_languedoc_2019_2025_journalier.xlsx
data/*nettoye*
data/*mvttdb*
data/syndicat/
data/Projections/*.nc
data/Projections/11018*
data/Projections/11185*
data/Projections/*2026*
data/Projections/*2055*
data/Projections/*meteo_fr*
data/Projections/*meteo_fr_*
data/Projections/*wc2.1*
data/Projections/*Ec_Earth*
data/Projections/*HadGEM3*
data/Projections/*IPSL-CM6A*
data/Projections/*MPI-ESM1*
data/Projections/*UKESM1_*